body{
    background-color: black;
}


.myrow{
    min-height: 300px;
}


.col-lg-6{
    background-color: bisque;
}
@media (max-width: 550px) {
    img{
       
  
        max-width:100%;
        height:auto;
        
    }
    .myrow{
        min-height: auto;
    }
}
.mycard{
    background-color: black;
    color: white;
}
.mycard > p{
    visibility: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: 19px;
    text-align: center;
    font-style: italic;
}
.mycard:hover p{
visibility: visible;
}